* {
  box-sizing: border-box;
  margin: 0;
}
body {
  background-color: aqua;
  display: flex;
}
.about h2 {
  font-family: "Chela One", "cursive";
}
.about p {
  width: 75%;
  background-color: yellow;
  margin: 15px auto;
}
.about {
  font-size: 1.3em;
  margin-left: 50px;
  background-color: blue;
}
.right-sidebar {
  background-color: rgba(0, 0, 0, 0.85);
  position: fixed;
  top: 0;
  right: 0;
  font-size: 20px;
  width: 100px;
}
.right-sidebar a {
  display: block;
  color: darkblue;
  text-decoration: none;
  font-weight: 100;
}
.right-sidebar a:hover {
  font-weight: 900;
}
.right-sidebar a:active {
  position: relative;
  top: 2px;
}

.left-sidebar {
  background-color: rgba(0, 0, 0, 0.85);
  text-align: center;
  width: 50px;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.left-sidebar nav {
  font-size: 20px;
  line-height: 50px;
}
.fa {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  text-decoration: none;
}
.fa:hover {
  opacity: 0.7;
}
.fa:active {
  position: relative;
  top: 2px;
}
.fa-facebook {
  background: #3B5998;
  color: white;
}
.fa-google-plus {
  background: #dd4b39;
  color: white;
}
.fa-yahoo {
  background: #430297;
  color: white;
}
.fa-twitter {
  background: #55ACEE;
  color: white;
}
.fa:before {
  vertical-align: -50%;
}
.main {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: green;
  margin-left: 50px;
}
.title {
  display: flex;
  margin: 80px auto;
  background-color: yellow;
  align-items: center;
}
.titleimg {
  width: 200px;
  background-size: contain;
  border-radius: 50%;
  border: 1px solid black;
}
.titletxt {
  background-color: brown;
  font-family: "Indie Flower", "cursive";
  font-size: 55px;
}
